.types{
    display: flex;
    background-color: #323334;
    width: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-bottom: 1rem;
}
button{
    background-color: #FF4343;
    border-radius: 0.25rem;
    border: 0px transparent;
    padding:0.5rem;
    color: aliceblue;
}
.display{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 2rem;
    justify-items: center;
    width: 100%;
    background-image: url('../assets/bg_desk.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-color:#323334;
    padding-top: 1rem;
   
}
.item-img img{
    border-radius: 50%;
    width:150px;
    height:150px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border-radius: 0.75rem;
    width: 340px;
    height: 167px;
    color: white;
    padding: 15px;
    font-family:monospace;
    margin: 2px;
    
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.37);  
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0.1px);
-webkit-backdrop-filter: blur(0.7px);
border: 1px solid rgba(0, 0, 0, 0.48);
}
.des{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}
.profile{
    display: flex;
    gap: 0.5rem;
}
.price{
    background-color: #FF4343;
    padding: 0.25rem;
    border-radius: 0.25rem;

}
@media only screen and (max-width:600px){
    .types{
        gap: 0.75rem;
        padding-bottom: 1rem;
    }
    button{
        padding-left:1rem;
        padding-right: 1rem;
    }
    .display{
        grid-template-columns: auto;
    }
}
@media only screen and (max-width:1250px){
    .display{
        grid-template-columns: auto auto;
    }
}
@media only screen and (max-width:830px){
    .display{
        grid-template-columns: auto;
    }
}